<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>上传示例</title>
    </head>
    <body>
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="上传"/></p>
        </form>
    </body>
</html>